body, html
{
	background-color: #2ecc71;
	margin:0px;
	font-family: 'Roboto', sans-serif;
	height:100%;
	overflow: hidden;
}

h1, h2, h3, h4{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-weight: 300;
}

.not_fullscreen{
	height: 100%;
	text-align: center;
  position:relative;
}

.not_fullscreen{
  span{
  	color: white;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 24px;
      position: absolute;
      top:50%;
      left:0px;
      margin-top: -12px;
      width:100%;
  }
}

.fullscreen{
	overflow:hidden;
	display: none;
	height: 100%;
	>.selected{
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 1;
		bottom: 0px;
		background: red;
		>button{
			position: fixed;
			top: 0px;
			left: 0px;
			height: auto;
			width: auto;
			background-color: Transparent;
	    background-repeat:no-repeat;
	    border: none;
	    cursor:pointer;
	    overflow: hidden;
	    outline:none;
		}
	}
}

.fullscreen{
  .main-frame{
	width: 100%;
	height: 100%;
	border:none;
  }
}

.owl-carousel{
	height: 100%;
  .owl-dots{
  z-index: 1;
  position: relative;
  top: -6%;
  margin-top: 0px !important;
  }
	.owl-stage-outer, .owl-stage, .owl-item, .owl-item > div{
	height: 100%;
	text-align: center;
	}
}

.slide-div{
	>h3{
		margin-top: 10%;
	}
}
